In [1]:
import numpy as np
e=np.e
e

2.718281828459045

In [3]:
import pandas as pd
test=pd.DataFrame(np.array([1,2,3,4,5,6]))
test

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [4]:
#csv読み込み
pokemon=pd.read_csv("PokemonStats.csv")
pokemon

,ID,Name,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Type1,Type2,Height,Weight
0,1,Bulbasaur,318,45,49,49,65,65,45,Grass,Poison,0.7,6.9
1,2,Ivysaur,405,60,62,63,80,80,60,Grass,Poison,1.0,13.0
2,3,Venusaur,525,80,82,83,100,100,80,Grass,Poison,2.0,100.0
3,3,Venusaur Mega Venusaur,625,80,100,123,122,120,80,Grass,Poison,2.4,155.5
4,4,Charmander,309,39,52,43,60,50,65,Fire,NaN,0.6,8.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,1006,Iron Valiant,590,74,130,90,120,60,116,Fairy,Fighting,1.4,35.0
1190,1007,Koraidon,670,100,135,115,85,100,135,Fighting,Dragon,2.5,303.0
1191,1008,Miraidon,670,100,85,100,135,115,135,Electric,Dragon,3.5,240.0
1192,1009,Walking Wake,590,99,83,91,125,83,109,Water,Dragon,3.5,280.0
1193,1010,Iron Leaves,590,90,130,88,70,108,104,Grass,Psychic,1.5,125.0

In [6]:
Fire=pokemon[pokemon["Type1"] == "Fire"]
Fire

,ID,Name,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Type1,Type2,Height,Weight
4,4,Charmander,309,39,52,43,60,50,65,Fire,NaN,0.6,8.5
5,5,Charmeleon,405,58,64,58,80,65,80,Fire,NaN,1.1,19.0
6,6,Charizard,534,78,84,78,109,85,100,Fire,Flying,1.7,90.5
7,6,Charizard Mega Charizard X,634,78,130,111,130,85,100,Fire,Dragon,1.7,110.5
8,6,Charizard Mega Charizard Y,634,78,104,78,159,115,100,Fire,Flying,1.7,100.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084,911,Skeledirge,530,104,75,100,110,75,66,Fire,Ghost,1.6,326.5
1113,935,Charcadet,255,40,50,40,50,40,35,Fire,NaN,0.6,10.5
1114,936,Armarouge,525,85,60,100,125,80,75,Fire,Psychic,1.5,85.0
1115,937,Ceruledge,525,75,125,80,60,100,85,Fire,Ghost,1.6,62.0
1176,994,Iron Moth,570,80,70,60,140,110,110,Fire,Poison,1.2,36.0