In [1]:
import numpy as np
e=np.e
e

2.718281828459045

In [3]:
import pandas as pd
test=pd.DataFrame(np.array([1,2,3,4,5,6]))
test

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [4]:
#csv読み込み
pokemon=pd.read_csv("PokemonStats.csv")
pokemon

,ID,Name,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Type1,Type2,Height,Weight
0,1,Bulbasaur,318,45,49,49,65,65,45,Grass,Poison,0.7,6.9
1,2,Ivysaur,405,60,62,63,80,80,60,Grass,Poison,1.0,13.0
2,3,Venusaur,525,80,82,83,100,100,80,Grass,Poison,2.0,100.0
3,3,Venusaur Mega Venusaur,625,80,100,123,122,120,80,Grass,Poison,2.4,155.5
4,4,Charmander,309,39,52,43,60,50,65,Fire,NaN,0.6,8.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,1006,Iron Valiant,590,74,130,90,120,60,116,Fairy,Fighting,1.4,35.0
1190,1007,Koraidon,670,100,135,115,85,100,135,Fighting,Dragon,2.5,303.0
1191,1008,Miraidon,670,100,85,100,135,115,135,Electric,Dragon,3.5,240.0
1192,1009,Walking Wake,590,99,83,91,125,83,109,Water,Dragon,3.5,280.0
1193,1010,Iron Leaves,590,90,130,88,70,108,104,Grass,Psychic,1.5,125.0