In [1]:
import numpy as np
e=np.e
e

2.718281828459045

In [3]:
import pandas as pd
test=pd.DataFrame(np.array([1,2,3,4,5,6]))
test

   0
0  1
1  2
2  3
3  4
4  5
5  6